@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjetas-de-pokemon {
    display: flex;
    width: 180px;
    height: 100px;
    background-color: #114685;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.tarjetas-de-pokemon:hover, #button-mascota:hover, .boton-de-ataque:hover, #boton-reiniciar:hover {
    cursor: pointer;
}

.tarjetas-de-pokemon img {
    width: 80px;
}

#button-mascota {
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
}

input {
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    font-family: 'Poppins', sans-serif;
    background-color: #114685;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 180px;
}

#mensajes {
    background-color: #EEEEEE;
    width: 280px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    font-family: 'Poppins', sans-serif;
    border: transparent;
    color: #114685;
}

.vidas {
    color: white;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#ataques-del-jugador, #ataques-del-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #114685;
    margin: 5px;
    border-radius: 20px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.vidas-jugador, .vidas-enemigo {
    background-color: #EEEEEE;
    width: 56px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #041562;
}
